<html>
    <head>
        <title>@ViewData["Title"] - Minha App Modelo</title>
    </head>
    <body>

        <header>
            Menu
        </header>

        @RenderBody()

        <footer>
            Rodapé
        </footer>
    </body>
</html>